[submodule "forester-base-theme"]
	path = forester-base-theme
	url = https://git.sr.ht/~jonsterling/forester-base-theme
[submodule "forester-to-latex"]
	path = forester-to-latex
	url = https://git.sr.ht/~jonsterling/forester-to-latex
[submodule "assets"]
	path = assets
	url = https://git.sr.ht/~jonsterling/forest-assets
